* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}

/* Shared Style */
h3 {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

h1 {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

p {
  color: #727272;
  font-size: 1rem;
  line-height: 26px;
  margin: 32px 0;
  text-align: center;
}
button {
  border-radius: 8px;
  background: #ff900e;
  border: none;
  padding: 20px 25px;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
}

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 0;
}

/* Nav Bar Style */

header nav {
  width: 75%;
  margin: 0 auto;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu ul li {
  list-style: none;
  margin-left: 30px;
}
.nav-menu a {
  text-decoration: none;
  color: #424242;
  font-size: 1rem;
  font-weight: 500;
  line-height: 26px;
}

/* Nav Banner Style */

.nav-banner {
  text-align: center;
}

.banner-content {
  padding: 60px 0;
  max-width: 860px;
  margin: 0 auto;
}

.nav-banner img {
  width: 100%;
}

.firstfeature-section {
  width: 70%;
  margin: 80px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.firstfeature-images {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
}
.firstfeature-contents {
  width: 50%;
}
.firstfeature-title,
.firstfeature-content {
  text-align: left;
}

.firstfeature-images img {
  width: 100%;
}

.facts-container {
  width: 75%;
  margin: 80px auto;
}
.facts-content h3,
.facts-content p {
  text-align: left;
}

.cart-description {
  color: #727272;
  font-size: 20px;
  font-weight: 600;
}

.cart-title {
  margin: 10px 0;
}
.facts-cart-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.cart {
  height: 242px;
  width: 242px;
  border-radius: 8px;
  border: 1px solid #ff900e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Responsive */
@media screen and (max-width: 576px) {
  header {
    padding: 20px 0;
  }
  .nav-bar,
  .firstfeature-section,
  .facts-cart-container {
    flex-direction: column;
  }
  .banner-content,
  .firstfeature-contents,
  .firstfeature-images {
    width: auto;
  }
  .firstfeature-images {
    grid-template-columns: 1fr;
  }
  .firstfeature-title,
  .firstfeature-content,
  .firstfeature-contents {
    text-align: center;
  }
}

@media screen and (min-width: 576px) and (max-width: 960px) {
  .nav-bar,
  .firstfeature-section,
  .facts-cart-container,
  .facts-cart-container {
    flex-direction: column;
  }
  .banner-content,
  .firstfeature-contents,
  .firstfeature-images {
    width: auto;
  }

  .firstfeature-title,
  .firstfeature-content,
  .firstfeature-contents {
    text-align: center;
  }
}
